<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.cycle.all.js"></script>
    <style>
        body {
            padding: 72px 0 0 0;
            margin: 0 auto;
            font-family: Calibri, sans-serif;
        }

        #nav {
            border-width: 1px 0;
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: center;
            BACKGROUND-COLOR: BLACK;
        }

            #nav li {
                display: inline;
            }

            #nav a {
                display: inline-block;
            }

        .floatme {
            text-align: right;
            margin-right: 20px;
        }
        .leftMe {
            text-align: left;
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <div>
        <div class="navbar navbar-inverse navbar-fixed-top" style="min-height: 60px;">
            <div class="container-fluid">
                <nav class="navbar">
                    <div class="navbar-fixed-top">
                        @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
                        <div id="counter" class="floatme navbar-brand">0</div>
                        <div id="counter" class="leftMe navbar-brand">@User.Identity.Name</div>
                        @Html.ActionLink("Shopping cart!__", "Index", "Checkout", null, new { @class = "navbar-brand floatme" })

                        <br />
                        <br />
                        <div class="navbar-collapse">
                            <ul id="nav" class="nav navbar-nav">
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                <li>@Html.ActionLink("Looks", "Index", "Looks")</li>
                                <li>@Html.ActionLink("Catalogue", "Index", "Catalogue")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
                            </ul>
                        </div>
                        @*@Html.Partial("_LoginPartial")*@
                    </div>
                </nav>
            </div>
        </div>
        <div>
            @*<p style="float:right;"><a class="btn btn-default" data-id=@item.Id>shopping cart <span id="numOfItems">0</span> items</a></p>*@
            @RenderBody()
        </div>
        <footer class="footer _container row">
            <div class="col -width-whole">
                <div class="footer _link-col -logo">
                    <a class="footer _link" href="/">
                        <span class="icon -rdio -top">Rdio</span>
                        <span class="tagline">Hudba. Vyladěná pro vás.</span>
                    </a>
                </div>
                <ul class="footer _link-col">
                    <li>
                        <a class="footer _link js-track-click" data-event-name="Sign Up Clicked" data-event-location="Footer" href="/account/signup/" style="-webkit-user-select: none; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                            Registrace
                        </a>
                    </li>
                    <li>
                        <a class="footer _link js-track-click" data-event-name="Log In Clicked" data-event-location="Footer" href="/account/signin/" style="-webkit-user-select: none; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                            Přihlásit se
                        </a>
                    </li>
                </ul>
                <ul class="footer _link-col clear">
                    <li><a class="footer _link" href="/about/">O aplikaci</a></li>
                    <li><a class="footer _link" href="/artistprogram/">Interpreti</a></li>
                    <li><a class="footer _link" href="/developers/">Vývojáři</a></li>
                </ul>
                <ul class="footer _link-col">
                    <li><a class="footer _link" href="/careers/">Zaměstnání</a></li>
                    <li><a class="footer _link" href="//help.rdio.com">Nápověda</a></li>
                    <li><a class="footer _link" href="/legal/terms-of-service/">Právní informace</a></li>
                </ul>
                <ul class="footer _link-col clear">
                    <li><a class="footer _link" href="//blog.rdio.com">Blog</a></li>
                    <li><a class="footer _link" href="http://twitter.com/Rdio">Twitter</a></li>
                    <li><a class="footer _link" href="http://www.facebook.com/Rdio">Facebook</a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>
