@model Clothing.Web.DTOs.ProductDto

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about section" id="section-2">
    <div class="container" style="padding-bottom:50px;">

        <div class="col-md-4 about_left">
            <img class="detailimg" src="@(Model.ImagePaths.First())" alt="" />
        </div>
        <div class="col-md-6 about_right" style=" padding-left:17%;">
            <ul class="list">
                <li class="list1">
                    <i></i><p class="detail"><span class="detail">Name :
                    </span>@Model.Name</p>
                    <div class="clearfix"> </div>
                </li>
                <li class="list1">
                    <i> </i><p class="detail"><span class="detail">Price :
                    </span><span>@((int)Model.Price) $</span></p>
                    <div class="clearfix"> </div>
                </li>
                <li class="list1">
                    <i> </i><p class="detail"><span class="detail">Size :</span> 
                    @Model.Size</p>
                    <div class="clearfix"></div>
                </li>
                <li class="list1">
                    <i> </i>
                    <p class="detail">
                        <span class="detail">Material :</span>
                        @Model.Material
                    </p>
                    <div class="clearfix"> </div>
                </li>
                <li class="list1">
                    <i> </i><p class="detail"><span class="detail">Note :
                    </span>@Model.Instructions</p>
                    <div class="clearfix"> </div>
                </li>
                <li class="list1 last">
                    <a href="/Catalogue/Index" class="btn1 btn-1 btn1-1b">Back</a> 
                    <a href="addcart" class="btn1 btn-1 btn1-1b">I want this!</a>
                    <form name="_xclick" action="https://www.paypal.com/us/cgi-bin/webscr" method="post">
                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="business" value="shirin.vakhidova@gmail.com">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="item_name" value="@Model.Name">
                        <input type="hidden" name="amount" value="@Model.Price">
                        <input type="image" src="http://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
                    </form>
                    <div class="clearfix"> </div>
                </li>
            </ul>
        </div>

    </div>
</div>