@model Clothing.Web.DTOs.ProductDto

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about section" id="section-2">
    <div class="container" style="padding-bottom:50px;">

        <div class="col-md-4 about_left">
            <img class="detailimg" src="@(Model.ImagePaths.First())" alt="" />
        </div>
        <div class="col-md-6 about_right" style=" padding-left:15%;">
            <ul class="list">
                <li class="list1">
                    <i></i><p class="detail"><span class="detail">Name :
                    </span>@Model.Name</p>
                    <div class="clearfix"> </div>
                </li>
                <li class="list1">
                    <i> </i><p class="detail"><span class="detail">Price :
                    </span><span>@((int)Model.Price) $</span></p>
                    <div class="clearfix"> </div>
                </li>
                <li class="list1">
                    <i> </i><p class="detail"><span class="detail">Size :</span> 
                    @Model.Size</p>
                    <div class="clearfix"></div>
                </li>
                <li class="list1">
                    <i> </i>
                    <p class="detail">
                        <span class="detail">Material :</span>
                        @Model.Material
                    </p>
                    <div class="clearfix"> </div>
                </li>
                <li class="list1">
                    <i> </i><p class="detail"><span class="detail">Note :
                    </span>@Model.Instructions</p>
                    <div class="clearfix"> </div>
                </li>
                <li class="list1 last">
                    <a href="/Catalogue/Index" class="btn1 btn-1 btn1-1b">Back</a> 
                    <a href="addcart" class="btn1 btn-1 btn1-1b">Add to cart</a>
                    <div class="clearfix"> </div>
                </li>
            </ul>
        </div>

    </div>
</div>